
/*body font decorated*/
body{
    font-family: 'Righteous', cursive;
}

/*navbar image size adjusted*/
.navbar img{
    height:50px;
    width:75px;

}

/*carousel slide margin adjusted*/
.carousel slide{
    margin-top: 20px;
}

/*jumbotron alignment*/
.jumbotron{
    
    text-align: center;
    margin-top: 30px;
    }

    .display-6{
        text-transform: uppercase;
}

/*modal box decorated*/
.modal-dialog{
    padding: 8%;
}
.modal-body{
    background-color: cornflowerblue;
    
}
.modal-body a{
    color: black;
}
.modal-title{
    text-transform: uppercase;
}
.container p{
    margin-top: 20px;
}

/*footer widget*/
.single-footer-widget a{
    font-size: 30px;
    margin-right: 20px;
}
.single-footer-widget h6{
    margin-top:20px;


}

.container{
    margin-top: 40px;
}

/*footer decorated*/
.footer-area{
    background-color: aliceblue;
}
.primary button{
    margin-left:5px;
    margin-top: 2px;
    
}


.container2{


text-align: center;
    

}
.container2 button{
    margin-left:2px;
    margin-top: 1px;
}
.footer-text{
    margin-left: 40px;
}