body{
    font-family: 'Righteous', cursive;
}
.navbar img{
    height:50px;
    width:75px;

}
.carousel slide{
    margin-top: 20px;
}


.jumbotron{
    
    text-align: center;
    margin-top: 30px;
    

}
.modal-dialog{
    padding: 8%;
}
.modal-body{
    background-color: cornflowerblue;
    
}
.modal-body a{
    color: black;
}
.container p{
    margin-top: 20px;
}

.single-footer-widget a{
    font-size: 30px;
    margin-right: 20px;
}
.single-footer-widget h6{
    margin-top:20px;


}

.container{
    margin-top: 20px;
    

}
.footer-area{
    background-color: aliceblue;
}
.primary button{
    margin-left:5px;
    margin-top: 2px;
    
}

.container2{
    text-align: right;
    position: relative;
    bottom: 10px;

}
.container2 button{
    margin-left:2px;
    margin-top: 1px;
}